<li id='post_line_<%= post.id %>'>
  <span class="strong-title" id='post_title_<%= post.id %>'><%= post.title %></span>
  <%= link_to "edit", edit_post_path(post), class: "btn btn-primary btn-xs", id: "edit_post_#{post.id}", remote: true %>
  <%= link_to "remove", post_path(post),
                            :data => {:confirm => "Are you sure? This action can't be undone.",
                            :method => "delete"},
                            class: "btn btn-warning btn-xs",
                            id: "remove_post_#{post.id}" %>
  <br>
  <span id='post_content_<%= post.id %>'><%= post.content %></span>
</li>
