<!DOCTYPE html>
<html>
<head>
  <title>Jotspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body class='container-fluid'>
  <div class='navbar navbar-default navbar-fixed-top' id="header">
    <div class='navbar-header'>
      <a class='navbar-brand' id="site-name">Jotspot</a>
    </div>
    <div class='sign-in-jazz'>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit Login', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <p id="copyright">&copy; 2014 Amy Vaillancourt-Sals</p>
  </div>
</div>

</body>
</html>
